@tailwind base; 
@tailwind components;
@tailwind utilities;
body{
 @apply flex justify-center items-center min-h-screen bg-black;   
}
.card-box {
    @apply relative w-[200px] h-[200px];
    transform-style: preserve-3d;
    animation: card-box-rotate 5s ease-out infinite;
}
@keyframes card-box-rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(720deg);
    }
}
.card-box div {
    @apply absolute top-0 left-0 w-full h-full;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004 );
}
.card-box span img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}